[Unit]
Description=StrongSwan IPsec with QPC to Palo Alto Hub
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/bdeschut/pq-strongswan:latest
AutoUpdate=registry
ContainerName=ipsec-vpn

# Host networking and raw net privileges are mandatory for host routing
Network=host
AddCapability=CAP_NET_ADMIN CAP_NET_RAW

# Mount configuration and secrets
Volume=/opt/strongswan/strongswan.conf:/etc/swanctl/conf.d/strongswan.conf:ro,Z
Volume=/lib/modules:/lib/modules:ro

# Healthcheck: Verify that the Palo Alto tunnel interface IP is reachable
# If ping fails 5 times in a row (5 min total), Podman marks container unhealthy
#HealthCmd=ping -I ipsec0 -c 1 -W 3 changeme_IP_HUB || exit 1
#HealthInterval=60s
#HealthRetries=5
#HealthTimeout=5s
#HealthOnFailure=restart

[Install]
WantedBy=multi-user.target
