# /etc/systemd/system/ipsec-interface.service
[Unit]
Description=Setup XFRM interface for IPsec VPN
Before=ipsec.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/ip link del ipsec0
ExecStart=/usr/sbin/ip link add ipsec0 type xfrm if_id 42
ExecStart=/usr/sbin/ip addr add changeme_VPNIP_SPOKE/30 peer changeme_VPNIP_HUB dev ipsec0
ExecStart=/usr/sbin/ip link set ipsec0 up
ExecStopPost=-/usr/sbin/ip link del ipsec0

[Install]
WantedBy=multi-user.target
